:root {
    --primary-font: 'Open Sans';

    --header-footer-text-color: #212121;
    --background-color: #ffffff;
    --text-color: #37474f;
    --header-footer-background: #ffebee;
    --link-color: #d32f2f;
    --link-hover-background-color: #b71c1c;
    --border-color: #e0e0e0;

    --header-footer-text-color-dark: #e0e0e0;
    --background-color-dark: #121212;
    --text-color-dark: #f5f5f5;
    --header-footer-background-dark: #263238;
    --link-color-dark: #ff8a80;
    --link-hover-background-color-dark: #ff5252;
    --border-color-dark: #424242;

    --grid-gap: 20px;
    --padding: 20px;
    --transition-duration: 0.3s;
    --font-size-large: 2rem;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: var(--primary-font);
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: center;
    transition: background-color var(--transition-duration), color var(--transition-duration);
}

section {
    border: 2px solid var(--border-color);
    border-radius: 8px;
    margin: 20px;
    transition: border-color var(--transition-duration);
    display: flex;
    flex-direction: column;
    align-items: center;
}

section p {
    margin: 20px;
}

#project-name p {
    font-weight: bold;
    font-size: var(--font-size-large);
    color: var(--link-color);
    transition: color var(--transition-duration);
}

#color-modes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

ul {
    text-align: left;
}

#light-mode,
#dark-mode {
    padding: var(--padding);
}

#dark-mode {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
    border-color: var(--border-color-dark);

}

header,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--header-footer-background);
    color: var(--header-footer-text-color);
    padding: var(--padding);
    height: 60px;
    transition: background-color var(--transition-duration), color var(--transition-duration);
}

footer p {
    padding: 20px;
}

a {
    color: var(--link-color);
    text-decoration: none;
    transition: color var(--transition-duration), background-color var(--transition-duration);
}

a:hover {
    background-color: var(--link-hover-background-color);
}