@import url('https://fonts.googleapis.com/css2?family=Funnel+Display&display=swap');

body {
    font-family: 'Funnel Display', sans-serif;
    background-color: #f4f4f9;
    color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #ffffff;
}

a {
    color: #3498db;
}

a:hover {
    color: #2980b9;
}

header,
footer {
    background-color: #282c34;
    color: #ffffff;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header h1 {
    margin: 0 0 20px 0;
}

nav {
    display: flex;
    justify-content: center;
    width: auto;
    padding: 0 20px;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    width: auto;
    justify-content: flex-start;
    gap: 20px;
}

nav ul li {
    margin: 0px;
}

nav a {
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #3498db;
    color: #ffffff;
}

main {
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: white;
    color: #333333;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

#about-me {
    background-color: #f0f8ff;
}

#web-dev-resources {
    background-color: #e0ffff;
}

.card img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

.card ul {
    list-style: none;
    padding: 0;
}

.card li {
    margin-bottom: 10px;
}

.about-me-content {
    display: flex;
    flex-direction: column;
}

.about-me-content>div:first-child {
    display: flex;
    align-items: center;
}

.about-me-content img {
    width: 200px;
    height: auto;
    margin-left: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.city-info {
    text-align: center;
}


.city-info img {
    width: 300px;
    margin: 0 auto;
}