body {
    font-family: 'Funnel Display', sans-serif;
    background-color: #f4f4f9;
    color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header,
footer {
    background-color: #282c34;
    color: #ffffff;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    width: auto;
    justify-content: flex-start;
    gap: 20px;
}

nav ul li {
    margin: 0px;
}

nav a {
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #3498db;
    color: #ffffff;
}

main>h2 {
    text-align: center;
    margin-bottom: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

.gallery figure {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

figcaption {
    text-align: center;
    margin-top: 10px;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
}

.menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #282c34;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.menu li {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #eee;
}

.menu a {
    text-decoration: none;
}

.menu.show {
    max-height: 500px;
}

.hamburger {
    display: block;
    cursor: pointer;
    padding: 10px;
    position: relative;
    z-index: 1001;
}

.menu-icon,
.close-icon {
    font-size: 24px;
    cursor: pointer;
    transition: opacity 0.3s ease;
    color: white;
}

.close-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.hamburger.active.menu-icon {
    opacity: 0;
}

.hamburger.active .close-icon {
    opacity: 1;
}