body {
    font-family: 'Funnel Display', sans-serif;
    background-color: #f4f4f9;
    color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header,
footer {
    background-color: #282c34;
    color: #ffffff;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

nav div {
    list-style: none;
    gap: 20px;
    display: flex;
    margin: 0;
    padding: 0;
}

nav a {
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #3498db;
    color: #ffffff;
}

main>h2 {
    text-align: center;
    margin-bottom: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

.gallery figure {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

figcaption {
    text-align: center;
    margin-top: 10px;
}

.menu {
    display: none;
    width: 100%;
    background-color: #282c34;
}

.menu.show {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.menu.show li {
    width: 100%;
    box-sizing: border-box;
}

.menu.show a {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.menu li {
    text-align: center;
}

.hamburger {
    position: relative;
    display: block;
    cursor: pointer;
    padding: 10px;
}

.menu-icon,
.close-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: white;
    transition: opacity 0.2s ease;
}

.close-icon {
    opacity: 0;
}

.hamburger.active .menu-icon {
    opacity: 0;
}

.hamburger.active .close-icon {
    opacity: 1;
}